body {}

.character {
    width: 450px;
    height: 550px;
}

.gameplayFooter {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 10px 0px 10px;
    position: fixed;
    width: 100%;
    height: 150px;
    display: flex;
    bottom: 0;
    justify-content: space-evenly;
}

.gameOptions {
    height: 140px;
    width: 140px;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#attack1 {
    background-size: cover;
    background-position: center;
    background-image: url(assets/AK.png);

}

#attack2 {
    background-size: cover;
    background-position: center;
    background-image: url(assets/grenade.png);
}

#heal1 {
    background-size: cover;
    background-position: center;
    background-image: url(assets/HealingPotion.png);
}

.characterHolder {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.characters {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.hp {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.heartImgHolder {
    display: flex;
    font-size: 20px;
    color: white;

}

.heartImgHolder::before {
    display: inline;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    content: url(assets/heart.png);
}

.modal {
    position: fixed;
    display: grid;
    z-index: 1;
    left: 0;
    top: 0;
    width: 1000px;
    height: 600px;
    overflow: auto;
    background-color: #041401;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.youWinCont {
    color: white;
    display: grid;
    place-items: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}

.coinEarnedCont {
    display: grid;
    place-items: center;
    color: white;
    font-size: 20px;

}

.btnHolder {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.buttons {
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-family: helvetica;
    background-color: #020d00;
    color: white;
}